html {
  margin: 100px;
}
body {
  margin: 30px;
}
* {
  margin: 0;
}
p {
  padding: 15px;
  box-sizing: border-box;
}

.container {
  margin: 40px;
  border: 2px solid red;
  height: 200px;
}

.customPosition {
  background-color: burlywood;
  position: absolute; /*! Position from document */
  top: 0;
  left: 0;
  right: 0;
}

/*********************************************/

.content-block {
  /* position: relative; */
  margin-top: 50px;
}

.absolute {
  position: absolute; /*! bad practice use position absolute without parent position relative */
  top: 444px;
  left: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 5px;
  width: 200px;
  font-size: 1.2rem;
  margin: 0;
}
.fixed {
  position: fixed;
  top: 472px;
  left: 0;
  right: 0;
  background-color: beige;
}
