body {
  margin: 30px;
}

dl {
  width: 320px;
  overflow: auto;
  height: 242px;
  border: 2px solid burlywood;
}

dt {
  position: sticky;
  top: 0px;
  background-color: bisque;
  padding: 10px;
  font-weight: bold;
}
/* .always {
  z-index: 10;
} */

dd {
  padding: 10px;
}
