body {
  margin: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  border: 1px solid gray;
  padding: 15px;
  height: 270px;
  margin: 20px;
}
.flexBox {
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: rgb(212, 189, 17);
  color: white;
  padding: 7px;
  flex-basis: 70px;
  flex-grow: 1;
  flex-shrink: 1;
}

.container.column {
  flex-direction: column;
}

.flexBox:nth-child(1) {
  flex-grow: 2;
  background-color: rgb(65, 106, 4);
  color: white;
}
/* .flexBox:nth-child(2) {
  flex-shrink: 2;
} */
.flexBox:nth-child(3) {
  background-color: rgb(176, 22, 190);
  color: white;
  align-self: flex-end;
}

.flexBox:nth-child(4) {
  background-color: rgb(121, 201, 254);
  align-self: center;
}
