[data-category='main'] {
  background-color: rgb(251, 177, 147);
  color: rgb(255, 0, 136);
  font-style: italic;
}
[data-category='basic'] {
  background-color: cyan;
  color: blue;
}
[heading-type='primary'] {
  background-color: pink;
  color: red;
}
