.block-level {
  display: block;
  margin-bottom: 10px;
}

.inline-level {
  display: inline;
  margin-left: 10rem;
  /*! And margin-right will be work!!!*/
}
/*! inline-block*/
input,
button {
  width: 220px;
  height: 35px;
  margin-top: 20px;
}
/*! inline*/
img {
  width: 300px;
}
/*! inline*/
input {
  display: block;
}
.block-element {
  width: 17rem;
  height: 17rem;
  background-color: blanchedalmond;
  margin: 2rem;
}
