body {
  margin: 30px;
}
h2:not(.default, h1 + h2) {
  color: darkmagenta;
}
.container > p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.container p:not(.special p, .special) {
  background-color: yellow;
  padding: 10px;
}
